  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
table th {
    color: blanchedalmond;
        padding: 5px;
        text-justify: auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    table{
        background-color: rgb(219, 184, 118);
       width: 100%;
       padding: 4px;
    }
    
    body{
        background-image: url(https://i.kym-cdn.com/entries/icons/original/000/037/848/cover2.jpg);
        background-size: cover;
        margin: 0%;
        height: 166px;
    }
    @media screen and (max-width: 300px){
        body {background-image: url(https://i.kym-cdn.com/entries/icons/original/000/037/848/cover2.jpg);
            background-size: cover;
    
        }
    }
    .img-in-text{
    
            height: 166px ;
        }
        @media screen and (min){
            
        }
        th :hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
        h1{
            background-color: sandybrown;
            margin: 0px;
            padding: 6px;
            font-family: cursive;
            
        }
        .op2{
            text-decoration: none;
            color: snow;
        }
        .op{
        list-style: none;
        text-decoration: none;
        color: #ffff;
        border-collapse: collapse;
        }
        th :hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .op2{
            text-decoration: none;
            color: snow;
        }
        .op{
        list-style: none;
        text-decoration: none;
        color: #ffff;
        border-collapse: collapse;
        }
        table th {
    color: blanchedalmond;
        padding: 5px;
        text-justify: auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    table{
        background-color: rgb(219, 184, 118);
       width: 100%;
       padding: 4px;
    }
    
    .tit-insc{
        text-justify: auto;
        font-family: cursive;
    
    }
    .termos{
        
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .termos :hover{
        background-color: rgba(255, 248, 248, 0.3);
    }
    h2 {
        color: antiquewhite;
    }
    .termo-um{
        color: beige;
        padding-block-start: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    }
.regras{
    background-color: #ffff;
    color: black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 10px;
padding: 10px;
}
.tit-tit{
    font-size: x-large;
    color: blanchedalmond;
}
  